<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head'); %>
  <style>
    footer {
      margin-top: 30%;
    }
  </style>
</head>

<body>
    <% if (mensaje) {%>
        <div class="alert alert-danger" role="alert">
            <% mensaje %>
        </div>
    <% } %>
  <div class="card">
      <div class="card-header">
          Agregar Estudiante
      </div>
      <div class="card-body">
          <form action="/estudiantes/add" method="post">
        <div class="form-group">
            <label> Número control: </label>
            <input type="text" class="form-control" name="NumeroControl" value="<%= NumeroControl%>" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label> Nombre: </label>
            <input type="text" class="form-control" name="Nombre" value="<%= Nombre%>" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label> Apellidos: </label>
            <input type="text" class="form-control" name="Apellidos" value="<%= Apellidos%>" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label> Edad: </label>
            <input type="text" class="form-control" name="Edad" value="<%= Edad%>" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label> Email: </label>
            <input type="text" class="form-control" name="Email" value="<%= Email%>" autocomplete="off"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Agregar" />
        </div>
    </form>
      </div>
  </div>

  <%- include('../partials/script'); %>
  <%- include('../partials/footer'); %>
</body>

</html>