<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        footer {
            margin-top: 30%;
        }
    </style>
</head>

<body class="Fondo5">
    <%- include('../partials/navbar'); %>
    <div class="container">
        <% if (mensaje) { %>
            <div class="alert alert-danger" role="alert">
                <%- mensaje %>
            </div>
            <% } %>
            <div class="card">
                <div class="card-header">
                    <h1 id="MiTitulo" class="text-center">Modificar Director</h1>
                </div>
                <div class="card-body">
                    <form action="/directores/update" method="post">
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="text" class="form-control" name="Id_Director" value="<%= Id_Director %>"
                                autocomplete="off" readonly>
                        </div>
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" name="Nombre" value="<%= Nombre %>" autocomplete="off" readonly>
                        </div>
                        <div class="form-group">
                            <label>Apellidos:</label>
                            <input type="text" class="form-control" name="Apellidos" value="<%= Apellidos %>"
                                autocomplete="off" readonly>
                        </div>
                        <div class="form-group">
                            <label>Nacionalidad:</label>
                            <input type="text" class="form-control" name="Nacionalidad" value="<%= Nacionalidad %>" autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label>Premios:</label>
                            <input type="text" class="form-control" name="Premios" value="<%= Premios %>" autocomplete="off"
                                >
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-info" value="Modificar" />
                            <a class="btn btn-info edit" href="/directores">Cancelar</i></a>
                        </div>
                    </form>
                </div>
            </div>
    </div>

    <%- include('../partials/script'); %>
    <%- include('../partials/footer'); %>
</body>

</html>